// TODO: remove important-statements by understanding how to configure material-ui better ¯\_(ツ)_/¯

.tableHead {
    font-weight: bold;
}

.resolution {
    font-size: 0.7em !important;
    letter-spacing: 0.00031em;
    font-weight: bold;
    background-color: white !important;
}

.margin {
    margin: 0.1rem;
}

.Augenkrebs {
    background-color: #ffd6d6 !important
}

.medium {
    background-color: #ffffc5 !important
}

.best {
    background-color: #ddfbdd !important
}