.tableHead {
    font-weight: bold;
}

.resolution {
    font-size: 0.7em !important;
    letter-spacing: 0.00031em;
    font-weight: bold;
}

.margin {
    margin: 0.1rem;
}

.Augenkrebs {
    background-color: rgb(255, 170, 170) !important;
}

.medium {
    background-color: rgb(255, 255, 162) !important;
}

.best {
    background-color: rgb(120, 180, 120) !important;
}